/* html/body level rules */

html,
body,
#react-root,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

body {
  background: #0d1011;
  font-family: "bariol", sans-serif;
  color: #7291a1;
  font-size: 10px;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
