.titlecard-positioner {
  position: fixed;
  width: 100vw;
  top: 20%;
  display: flex;
  justify-content: center;
}

.titlecard {
  position: relative;
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 2px #000;
  line-height: 1;
  background-color: #0d1011;
  border: 1px solid #7291a1;
  padding: 3rem 4rem;
  white-space: nowrap;
  color: #7291a1;
  will-change: transform;
}

.titlecard::after {
  content: '';
  background-image: url('/static/card-decoration.png');
  image-rendering: pixelated;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -7px;
  left: -7px;
}

.titlecard-content {
  opacity: 0;
  -moz-animation: fadein .5s ease-in .25s 1 normal forwards running;
  -webkit-animation: fadein .5s ease-in .25s 1 normal forwards running;
  animation: fadein .5s ease-in .25s 1 normal forwards running;
  will-change: transform;
}

.titlecard .titlecard-content .titlecard-tagline {
  font-size: .5em;
  display: block;
  margin-top: 1rem;
  padding:  1rem 1.5rem 0px;
  border-top: 1px solid #7291a1;
}
